// Here you can add other styles
.label-status {
    min-width: 83px;
}

.label-button-confirm {
    min-width: 66px;
}

.header-table {
    font-weight: 600;
}

.handle-pointer {
    cursor: pointer;
}

// Class common for LOADING... center
.container-fluid>div {
    margin: 0 auto;
}

// Overlay processing...highest in layout
._loading_overlay_overlay {
    z-index: 1022;
}

.overlayFullScreen {
    width: 100%;
    height: 100%;
    position: static !important;
}

.hideGroup {
    display: none;
}

.form-control {
    border: 1px solid rgb(155, 159, 163)
}

//CUSTOM CSS FOR DATETIME-PICKER
.form-control>.react-datetime-picker__wrapper {
    border: 0;

    .react-datetime-picker__button {
        padding: 2px 6px;
    }
}

.color-red {
    color: red;
}

.UploaderImage {
    position: relative;
    display: inline-block;
}

.UploaderImage:hover .ImageRemoveIcon {
    display: block;
}


div .ImageRemoveIcon {
    padding-top: 7px;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    color: red;
    cursor: pointer;
}

// Custom color table
.ReactTable {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.ReactTable .rt-tbody .rt-td {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.ReactTable .rt-tbody .rt-tr-group {
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

.ReactTable .rt-thead .rt-tr {
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

.min-width-150 {
    min-width: 150px;
}

//Custom CHILDREN grid view in react-table
.ReactTable .children .rt-thead.-header{
    box-shadow: 0 2px 15px 0 rgba(172, 255, 155, 0.35);
}
.children .rt-thead .rt-tr {
    background-color: rgba(172, 255, 155, 0.35);
}
#permission-user {
    z-index: 3;
}
//change color for fields is required
Label sup {
    color: red;
}
//custom datetime picker
.is-readonly {
    background-color: #e4e7ea;
    opacity: 1;
}
.react-select {
    display: block;
}
.basic-single .select__placeholder, .basic-single .select__single-value {
    top: 45%;
}
.custom-checkbox{
    margin-bottom: -5px;
}
